/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/performance_manager/test.db
/notebook
/investigation
*.parquet

__pycache__
venv
*.ipynb
.coverage
htmlcov
.DS_Store
package
dist
*.sh
.devcontainer/*
.vscode/*

# private enviroment overrides
.env*

# Quarto
libs/
.jupyter_cache
