version: '3'

services:

  local_rds:
    container_name: local_rds
    image: postgres:14.4
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    command: [ "postgres", "-c", "log_statement=all" ]

  performance_manager:
    container_name: performance_manager
    env_file: .env
    build:
      context: ./python_src
    depends_on:
      - local_rds
    working_dir: /lamp
    volumes:
      - ~/.aws:/root/.aws:ro # map credentials to be used by boto3, read-only
    command: [ "poetry", "run", "performance_manager" ]

  ingestion:
    container_name: ingestion
    env_file: .env
    build:
      context: ./python_src
    depends_on:
      - local_rds
    working_dir: /lamp
    volumes:
      # map credentials to be used by boto3, read-only
      - ~/.aws:/root/.aws:ro
    command: [ "poetry", "run", "ingestion" ]

  api_server:
    container_name: api_server
    # network_mode: "host"
    env_file: .env
    build:
      context: ./api
    ports:
      # Mapping the port to make the Phoenix app accessible outside of the container.
      - "4000:4000"
    depends_on:
      - local_rds

  seed_metadata:
    container_name: seed_metadata
    env_file: .env
    build:
      context: ./python_src
    depends_on:
      - local_rds
    working_dir: /lamp
    volumes:
      # map credentials to be used by boto3, read-only
      - ~/.aws:/root/.aws:ro
      # add in july 17 filepahs json that will be the default seed file path
      - ./python_src/tests/test_files/july_17_filepaths.json:/july_17_filepaths.json
      - ./python_src/tests/test_files/april_2023_filepaths.json:/april_2023_filepaths.json
    # entrypoint passes in seed file thats added as a volume. if you want to use a different filepath run
    # docker-compose run -v /path/to/files.json:/seed.json seed_metadata --seed-file /seed.json
    entrypoint:
      [
        "poetry",
        "run",
        "seed_metadata",
        "--clear-static",
        "--seed-file",
        "/april_2023_filepaths.json"
      ]
