name: Continuous Integration (Python)

on:
  push:
    branches:
      - main
    paths:
      - 'python_src/**'
      - '.github/workflows/ci_python.yaml'
      - '.github/python_deps/action.yaml'
  pull_request:
    paths:
      - 'python_src/**'
      - '.github/workflows/ci_python.yaml'
      - '.github/python_deps/action.yaml'

defaults:
  run:
    shell: bash
    working-directory: python_src 

concurrency:
  group: python-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Python Setup
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python_deps

  format:
    name: Format
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python_deps

      - run: poetry run black . --check

  typing:
    name: Type Check
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python_deps

      - run: poetry run mypy .

  lint:
    name: Lint
    runs-on: ubuntu-22.04
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python_deps

      - run: poetry run pylint src tests

  test:
    name: Test
    runs-on: ubuntu-22.04
    needs: setup
    env:
      BOOTSTRAPPED: 1
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: pm_test
      DB_USER: postgres
      DB_PASSWORD: postgres
    services:
      postgres:
        image: postgres:14.4
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: ${{env.DB_PASSWORD}}
          POSTGRES_USER: ${{env.DB_USER}}
          POSTGRES_DB: ${{env.DB_NAME}}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python_deps

      - run: poetry run pytest
