name: Continuous Integration

on:
  push:
    branches:
      - main
    paths:
      - 'python_src/**'
  pull_request:
    paths:
      - 'python_src/**'

defaults:
  run:
    shell: bash
    working-directory: python_src 

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/poetry_deps
        with:
          poetry-dir: python_src 

  format:
    name: Format
    runs-on: ubuntu-20.04
    needs: setup
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/poetry_deps
        with:
          poetry-dir: python_src
      - run: poetry run black . --check

  typing:
    name: Type Check
    runs-on: ubuntu-20.04
    needs: setup
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/poetry_deps
        with:
          poetry-dir: python_src
      - run: poetry run mypy .

  lint:
    name: Lint
    runs-on: ubuntu-20.04
    needs: setup
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/poetry_deps
        with:
          poetry-dir: python_src
      - run: poetry run pylint src

  test:
    name: Test
    runs-on: ubuntu-20.04
    needs: setup
    env:
      BOOTSTRAPPED: 1
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: pm_test
      DB_USER: postgres
      DB_PASSWORD: postgres
    services:
      postgres:
        image: postgres:14.4
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: ${{env.DB_PASSWORD}}
          POSTGRES_USER: ${{env.DB_USER}}
          POSTGRES_DB: ${{env.DB_NAME}}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/poetry_deps
        with:
          poetry-dir: python_src
      - run: poetry run pytest
