name: Lightswitch Deploy & Run

on:
  workflow_run:
    workflows: ["Deploy to Production"]
    types: [completed]
  push:
    branches:
      - main
    paths:
      - 'src/lamp_py/publishing/lightswitch.py'

jobs:
  deploy:
    uses: ./.github/workflows/deploy-base.yaml
    with:
      # pass the inputs from the workflow dispatch through to the deploy base. the booleans are
      # converted to strings, so flip them back using fromJson function
      environment: ${{ github.event_name == 'push' && 'staging' || 'prod' }}
      deploy-lightswitch: true
    secrets: inherit
  run:
    needs: deploy
    uses: ./.github/workflows/run-task.yaml
    with:
      environment: ${{ github.event_name == 'push' && 'staging' || 'prod' }}
      task: Lightswitch
    secrets: inherit
