name: Lightswitch Deploy & Run

on:
  push:
    branches:
      - main
    paths:
      - 'src/lamp_py/publishing/lightswitch.py'
    tags:
      - '*'
    secrets:
      AWS_ROLE_ARN:
        description: AWS_ROLE_ARN
        required: true

jobs:
  check-tag:
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    steps:
      - name: Check Semantic Version Format
        run: |
          TAG_NAME="${{ github.ref_name }}"
          if [[ "$TAG_NAME" =~ v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            echo "Tag '$TAG_NAME' valid semantic version."
          else
            echo "Deploy to Production not executed - tags must follow semantic versioning. |
             (e.g. v1.2.3) '$TAG_NAME' does NOT follow semantic versioning."
            exit 1
          fi
  deploy:
    # if check-tag succeeded or was skipped
    if: ${{ contains(['success', 'skipped'], jobs.check-tag.result) }}
    uses: ./.github/workflows/deploy-base.yaml
    with:
      # if the trigger is a tag then deploy to prod; otherwise deploy to staging
      environment: ${{ (github.ref_type == 'tag' && 'prod') || 'staging' }}
      deploy-lightswitch: true
    secrets: inherit
  run_lightswitch_task:
    needs: deploy
    uses: ./.github/workflows/run-task.yaml
    with:
      environment: ${{ (github.ref_type == 'tag' && 'prod') || 'staging' }}
      task: Lightswitch
    secrets: inherit
