name: Manual Deploy
run-name: "Manual Deploy to ${{ github.event.inputs.environment }} INS: ${{ fromJson(github.event.inputs.deploy-ingestion) }} RPM: ${{ fromJson(github.event.inputs.deploy-rail-pm) }} BPM: ${{ fromJson(github.event.inputs.deploy-bus-pm) }}ITM: ${{ fromJson(github.event.inputs.deploy-tm-ingestion) }} TAB: ${{ fromJson(github.event.inputs.deploy-tableau-publisher) }}"
on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        type: choice
        options:
          - dev
          - staging
          - prod
      deploy-ingestion:
        description: Deploy Ingestion
        default: false
        type: boolean
      deploy-rail-pm:
        description: Deploy Rail Performance Manager
        default: false
        type: boolean
      deploy-bus-pm:
        description: Deploy Bus Performance Manager
        default: false
        type: boolean
      deploy-tm-ingestion:
        description: Deploy TransitMaster Ingestion (not run on Dev)
        default: false
        type: boolean
      deploy-tableau-publisher:
        description: Deploy Tableau Publisher (not run on Dev)
        default: false
        type: boolean

jobs:
  deploy:
    concurrency:
      group: github.event.inputs.environment
    uses: ./.github/workflows/deploy-base.yaml
    with:
      # pass the inputs from the workflow dispatch through to the deploy base. the booleans are
      # converted to strings, so flip them back using fromJson function
      environment: ${{ github.event.inputs.environment }}
      deploy-ingestion: ${{ fromJson(github.event.inputs.deploy-ingestion) }}
      deploy-rail-pm: ${{ fromJson(github.event.inputs.deploy-rail-pm) }}
      deploy-bus-pm: ${{ fromJson(github.event.inputs.deploy-bus-pm) }}
      deploy-tm-ingestion: ${{ fromJson(github.event.inputs.deploy-tm-ingestion) }}
      deploy-tableau-publisher: ${{ fromJson(github.event.inputs.deploy-tableau-publisher) }}
    secrets: inherit
