name: Run Task

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        type: choice
        options:
          - dev
          - staging
          - prod
      task:
        description: Task
        type: choice
        options:
          - Tableau Publisher
          - Transit Master Ingestion
          - Lightswitch
      ref:
        description: Branch, Commit, or Tag
        type: string
        required: true
        default: main
  workflow_call:
    inputs:
      environment:
        type: string
      task:
        type: string
      ref:
        type: string
        required: false
        default: main

jobs:
  run_task:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}

      - name: Generate Task Name
        run: |
          if [ "${{ inputs.task }}" == "Tableau Publisher" ]; then
            echo "task_name=tableau-publisher" >> $GITHUB_ENV
          elif [ "${{ inputs.task }}" == "Transit Master Ingestion" ]; then
            echo "task_name=tm-ingestion" >> $GITHUB_ENV
          elif [ "${{ inputs.task }}" == "Lightswitch" ]; then
            echo "task_name=lightswitch" >> $GITHUB_ENV
          fi
      - name: Run Task Action
        uses: ./.github/actions/run_task
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          cluster: 'lamp'
          service: lamp-${{ env.task_name }}-${{ inputs.environment }}
